{% extends "layout.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Todo:</h1>
        <table class="table table-striped">
            <th>Description</th>
            <th>Completed</th>
            <th></th>
            <tr>
                <td>
                    {% if todo.completed %}
                        <s>{{ todo.description }}</s>
                    {% else %}
                        {{ todo.description }}
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% from 'macros.html' import complete_todo %}
                    {{ complete_todo(todo) }}
                </td>
                <td style="text-align: center">
                    {% from 'macros.html' import delete_todo %}
                    {{ delete_todo(todo) }}
                </td>
            </tr>
        </table>
        <a href="{{ url_for('todo_json', id=todo.id) }}" class="btn btn-sm btn-primary">View as JSON</a>
    </div>

{% endblock %}