{% extends "layout.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Todo List:</h1>
        <table class="table table-striped">
            <th>#</th>
            <th>Description</th>
            <th>Completed</th>
            <th></th>
            {% for todo in todos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if todo.completed %}
                            <s><a href="{{ url_for('todo', id=todo.id) }}">
                                {{ todo.description }}
                            </a></s>
                        {% else %}
                            <a href="{{ url_for('todo', id=todo.id) }}">
                                {{ todo.description }}
                            </a>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% from 'macros.html' import complete_todo %}
                        {{ complete_todo(todo) }}
                    </td>
                    <td style="text-align: center;">
                        {% from 'macros.html' import delete_todo %}
                        {{ delete_todo(todo) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="post" action="{{ url_for('todos_POST') }}">
                    <td colspan="3">
                        <input type="textbox" name="description" style="width: 100%"
                               placeholder="Description...">
                    </td>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
{% endblock %}