{% extends "layout.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Todo List:</h1>
        <table class="table table-striped">
            <th>#</th>
            <th>Description</th>
            <th>Completed</th>
            <th></th>
            {% for todo in todos.items %}
                <tr>
                    <td>{{ loop.index + (todos.page - 1) * per_page }}</td>
                    <td>
                        {% if todo.completed %}
                            <s><a href="{{ url_for('todo', todo_id=todo.id) }}">
                                {{ todo.description }}
                            </a></s>
                        {% else %}
                            <a href="{{ url_for('todo', todo_id=todo.id) }}">
                                {{ todo.description }}
                            </a>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% from 'macros.html' import complete_todo %}
                        {{ complete_todo(todo) }}
                    </td>
                    <td style="text-align: center;">
                        {% from 'macros.html' import delete_todo %}
                        {{ delete_todo(todo) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="post" action="{{ url_for('todos_post') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <td colspan="3">
                        <input type="textbox" name="description" style="width: 100%"
                               placeholder="Description...">
                    </td>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </td>
                </form>
            </tr>
        </table>
        <form method="post" action="{{ url_for('show_completed') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="form-check-input" name="show_completed" id="show_completed"
                   type="checkbox" {{ 'checked' if show_completed else '' }}
                   onchange="this.form.submit();">
            <label for="show_completed"><i>Show completed todos</i></label>
        </form>
        <nav aria-label="Page navigation" style="text-align: center">
            <ul class="pagination justify-content-center">
                {% if todos.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('todos', page=todos.prev_num, per_page=per_page) }}">&lsaquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
                {% endif %}
                {% for page in todos.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                    {% if page %}
                        {% if page == todos.page %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ todos.page }} <span
                                        class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('todos', page=page, per_page=per_page) }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li><span class="ellipsis">…</span></li>
                    {% endif %}
                {% endfor %}
                {% if todos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('todos', page=todos.next_num, per_page=per_page) }}">&rsaquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}